{% extends "header.html" %}

{% block body %}
    <form method="POST" action="" name="addDevice">
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(size=20, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.protocol.label }}
            {{ form.protocol(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.model.label }}
            {{ form.model(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.house.label }}
            {{ form.house(class_="form-control")}}
        </div>
        <div class="form-group">
            {{ form.number.label }}
            {{ form.number(class_="form-control")}}
        </div>
        <input class="btn btn-default" type="submit" value="Add">
    </form>
{% endblock %}